<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <h1>ES2015 + Webpack (advanced)</h1>
    <p>
      <button onclick="api.getInfo()">Get Info From:</button>
      <input type="text" id="input" value="Jack" />
    </p>
    <textarea id="output"></textarea>
    <script type="text/javascript" src="dist/bundle.js"></script>
  </body>
</html>
