.reveal {

  strong {
    color: #34B6B1;
  }

  dl dt {
    padding-top: 30px;
  }

  section {
    img.noBorder {
      border: 0px;
      background: transparent;
      box-shadow: none;
    }
  }

  table {
    &.centercells {
      tr td {
        text-align: center;
      }
    }
    &.noBorder {
      td {
        border: 0px;
      }
    }
  }
}
