
/* Common Styles */

h1 {
  display: flex; /* no purpose but to demonstrate autoprefixer */
}

button {
  width: 200px;
}

form span {
  font-style: italic;
  color: color(black lightness(50%));
}

#input {
  width: 300px;
}

#output {
  height: 200px;
  width: 500px;
}

#photos img {
  margin: calc(10px + 10px);
  border-radius: 5px;
}
